/* | IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* | CSS RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button {
    font: inherit;
}

/* | VARIABLES */
:root {
    /* | COLORS */
    --active-input : linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)); /* active input border */
    --Red : hsl(0, 100%, 66%); /* input errors */
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

    /* | FONT */
    --body-fonts: 500 18px 'Space Grotesk';
}

/* | GENERAL STYLES */
body {
    font: var(--body-fonts);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 30% 100%;
    
}