/* | IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* | CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button {
    font: inherit;
}

/* | UTILITY CLASS */
.margin-top {
    margin-top: auto;
}

.error-border {
    border: solid 1px var(--Red);
}

/* | VARIABLES */
:root {
    /* | COLORS */
    --active-input: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

    /* | FONT */
    --body-fonts: 500 18px 'Space Grotesk';
    --card-number-fonts: 600 32px 'Space Grotesk';
    --card-holder-info-fonts: 400 16px 'Space Grotesk';
    --form-group-label-fonts: 600 14px 'Space Grotesk';
    --error-message-fonts: 500 14px 'Space Grotesk';
}

/* | GENERAL STYLES */
body {
    font: var(--body-fonts);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 30% 100%;
}

/* | CARD SECTION */
.card-section {
    color: var(--White);
    width: 50%;
}

.card-front,
.card-back {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15), 0 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 447px;
    height: 245px;
}

.card-front {
    background-image: url('images/bg-card-front.png');
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 125px;
    padding: 25px;
}

.card-front img {
    width: 84px;
    height: 47px;
}

.card-number {
    font: var(--card-number-fonts);
}

.card-holder-info {
    font: var(--card-holder-info-fonts);
    display: flex;
    flex-direction: row;
    color: var(--Light-grayish-violet);
    justify-content: space-between;
    margin-top: 20px;
}

.card-back {
    background-image: url('images/bg-card-back.png');
    padding: 108px 0px 0px 360px;
    margin: 30px 50px 0 auto;
}

/* | FORM SECTION */
.form-section,
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 49%;
    margin-left: 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font: var(--form-group-label-fonts);
    color: var(--Dark-grayish-violet);
    letter-spacing: 1px;
}

.form-group label {
    margin-bottom: 10px;
    color: var(--Very-dark-violet);
}

.form-group input {
    padding: 15px 20px;
    border-radius: 10px;
    border: solid 1px var(--Very-dark-violet);
    transition: border 0.3s ease-in-out;
}

.form-group input:focus {
    border: solid 1px var(--active-input);
}

.form-group-expiry-date,
.expiry-date-fields {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.expiry-date-fields input {
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
}

.form-group-cvc {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.error-message {
    margin-top: 8px;
    font: var(--error-message-fonts);
    color: var(--Red);
    text-transform: lowercase;
}

.confirm-button,
.continue-button {
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--White);
    background-color: var(--Very-dark-violet);
    border: none;
    cursor: pointer;
}

.continue-button {
    width: 465px;
}

/* | THANK YOU SECTION */
.thank-you-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.thank-you-section.visible {
    opacity: 1;
    visibility: visible;
}

.thank-you-img {
    margin-bottom: 30px;
}

.thank-you-heading {
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.thank-you-message {
    color: var(--Dark-grayish-violet);
    margin-bottom: 50px;
}

/* | MEDIA QUERY */
@media screen and (max-width: 1440px) {
    form {
        width: 60%;
    }

    .form-section, form {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1250px) {
    :root {
        --body-fonts: 500 17px 'Space Grotesk';
        --card-number-fonts: 600 30px 'Space Grotesk';
        --card-holder-info-fonts: 400 15px 'Space Grotesk';
        --form-group-label-fonts: 600 13px 'Space Grotesk';
        --error-message-fonts: 500 13px 'Space Grotesk';
    }

    .card-front {
        margin-right: 60px;
        width: 420px;
    }

    .card-back {
        width: 420px;
        margin: 30px 30px 0 auto;
    }

    form {
        width: 66%;
    }

    .continue-button {
        width: 360px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --card-number-fonts: 600 20px 'Space Grotesk';
    }

    body {
        flex-direction: column;
        justify-content: flex-start;
        background-image: url('images/bg-main-mobile.png');
        background-size: 100% 30%;
    }

    .card-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative; 
        margin-bottom: 130px; 
        width: 100%;
    }

    .card-front,
    .card-back {
        height: 200px;
        width: 360px;
        background-size: cover;
        margin: 0;
        box-shadow: none;
    }

    .card-back {
        z-index: 0; 
        padding: 88px 0px 0px 286px;
        margin-top: 25px;
        margin-left: 80px;
    }

    .card-front {
        position: absolute;
        margin-top: 260px;
        margin-right: 80px;
        z-index: 1; 
    }

    form {
        width: 520px;
        margin-left: 0;
    }

    .form-section {
        margin-top: 20px; 
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group input {
        padding: 10px 15px;
    }

    .thank-you-img {
        margin-bottom: 15px;
        width: 70px;
        height: 70px;
    }

    .thank-you-heading {
        margin-bottom: 10px;
    }

    .thank-you-message {
        margin-bottom: 30px;
    }

    .continue-button {
        width: 280px;
    }
}

@media screen and (max-width: 768px) {
    .card-front {
        margin-right: 40px;
    }

    .card-back {
        margin-left: 60px;
    }

    form {
        width: 400px;
    }
}

@media screen and (max-width: 482px) {
    :root {
        --body-fonts: 500 15px 'Space Grotesk';
        --card-number-fonts: 600 19px 'Space Grotesk';
        --card-holder-info-fonts: 400 13px 'Space Grotesk';
        --form-group-label-fonts: 600 11px 'Space Grotesk';
        --error-message-fonts: 500 11px 'Space Grotesk';
    }

    .card-section {
        margin-bottom: 95px;
    }

    .card-front,
    .card-back {
        height: 170px;
        width: 280px;
        box-shadow: none;
    }

    .card-front img {
        width: 37px;
        height: 20px;
    }

    .card-front {
        margin-top: 205px;
        margin-right: 30px;
    }

    .card-back {
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 64px 0px 0px 211px;
        margin-left: 30px;
    }

    .form-group label {
        margin-bottom: 5px;
    }

    .error-message,
    .expiry-date-fields input {
        margin-top: 5px;
    }

    form {
        width: 300px;
    }

    .expiry-date-fields input {
        width: 60px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 375px) {
    :root {
        --body-fonts: 500 14px 'Space Grotesk';
        --card-number-fonts: 600 15px 'Space Grotesk';
        --card-holder-info-fonts: 400 11px 'Space Grotesk';
        --form-group-label-fonts: 600 10px 'Space Grotesk';
        --error-message-fonts: 500 10px 'Space Grotesk';
    }

    .card-section {
        margin-bottom: 85px;
    }

    .card-front,
    .card-back {
        height: 140px;
        width: 230px;
    }

    .card-back {
        padding: 52px 0px 0px 175px;
    }

    form {
        width: 270px;
    }

    .form-group {
        margin-bottom: 5px;
    }
}