/* | IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* | CSS RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button {
    font: inherit;
}

.margin-top {
    margin-top: auto;
}


/* | VARIABLES */
:root {
    /* | COLORS */
    --active-input : linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)); /* active input border */
    --Red : hsl(0, 100%, 66%); /* input errors */
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

    /* | FONT */
    --body-fonts: 500 18px 'Space Grotesk';
    --card-number-fonts: 600 25px 'Space Grotesk';
    --card-holder-info-fonts: 400 16px 'Space Grotesk';
    --form-group-label : 600 14px 'Space Grotesk';
}

/* | GENERAL STYLES */
body {
    font: var(--body-fonts);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 30% 100%;
}

/* | CARD SECTION */
.card-section {
    color: var(--White);
    width: 50%;
}

.card-front,
.card-back {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.15), 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-front {
    background-image: url('images/bg-card-front.png');
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 245px;
    margin-left: auto;
    margin-right: 125px;
    padding: 25px;
    width: 447px;
}

.card-front img {
    width: 84px;
    height: 47px;
}

.card-number {
    font: var(--card-number-fonts);
}

.card-holder-info {
    font: var(--card-holder-info-fonts);
    display: flex;
    flex-direction: row;
    color: var(--Light-grayish-violet);
    justify-content: space-between;
    margin-top: 20px;
}

.card-back {
    background-image: url('images/bg-card-back.png');
    width: 447px;
    height: 245px;
    padding: 108px 0px 0px 360px;
    border-radius: 10px;
    margin: 30px 50px 0 auto;
}

/* | FORM SECTION */
.form-section,
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-left: 60px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font: var(--form-group-label);
    color: var(--Dark-grayish-violet);
    letter-spacing: 1px;
}

.form-group label {
    margin-bottom: 10px;
}

.form-group input {
    padding: 15px 20px;
    border-radius: 10px;
    border: solid 1px var(--Very-dark-violet);
    transition: border 0.3s ease-in-out;
}

.form-group input:focus {
    border: solid 1px var(--active-input);
}

.form-group-expiry-date {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.expiry-date-fields {
    display: flex;
    flex-direction: row;
}

.expiry-date-fields input {
    margin-top: 10px;
}

.form-group-cvc {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.expiry-date-fields input {
    width: 100px;
    margin-right: 10px;
}

.confirm-button {
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--White);
    background-color: var(--Very-dark-violet);
    border: none;
}